<head>
  <script lang="text/javascript">
    function detectLang() {
      var langs = "{{site.langs}}".split(",");
      if (window.localStorage && localStorage.getItem("lang") && langs.indexOf(localStorage.getItem("lang")) != -1) {
        gotoLang(localStorage.getItem("lang"));
        return;
      }
      var language = window.navigator.userLanguage || window.navigator.language;
      var lang = matchLang(langs, language);
      if (lang) {
        gotoLang(lang);
        return;
      }
      var allowLangs = window.navigator.languages;
      if (allowLangs) {
        for (var browserLang in allowLangs) {
          browserLang = allowLangs[browserLang];
          var lang = matchLang(langs, browserLang);
          if (lang) {
            gotoLang(lang);
            return;
          }
        }
      }

      gotoLang("en");
    }
    function matchLang(langs, browserLang) {
      for (var lang in langs) {
        lang = langs[lang];
        if (browserLang==lang || browserLang.indexOf(lang + "-") >= 0 || browserLang.toLowerCase().indexOf("-" + lang) > 0) {
          return lang;
        }
      }
      return false;
    }
    function gotoLang(language) {
      console.log(language);
      var hasLangInUrl = false;
      var baseurl = "{{site.baseurl}}";
      var langs = "{{site.langs}}".split(",");
      for (var lang in langs) {
        lang = langs[lang];
        hasLangInUrl = (location.pathname.indexOf(baseurl + "/" + lang) == 0);
        console.log(lang)
        console.log(hasLangInUrl)
        if (hasLangInUrl) {
          break;
        }
      }
      if (!hasLangInUrl) {
        location.href = baseurl + "/" + language + location.pathname
          + (location.search ? "?" + location.search : "");
      }
    }
    detectLang();
  </script>
  {% include head-content.html %}
</head>